.profolio-top {
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-between;
  margin: 60px 150px;
  padding: 0 60px;
  border-bottom: solid 1px lightgray;
}

.profolio-top h3 {
  font-size: 30px;
  text-align: center;
}
.profile-data span {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  border-radius: 25px;
  white-space: nowrap;
  margin: 16px 16px;
  user-select: none;
  width: 159px;
  justify-items: center;
  text-align: center;
}

.profile-icon {
  position: relative;
}
